---
filename: index
title: Homepage
hasScript: true

data: '/data/index.yaml'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
<div class="container">
    <header>
        <div>
            <h1 class="glow-anim"> {{data.homeName}} </h1>
            <div id="marquee_wrapper">
                <h2 class="marquee">Content Failed to Load</h2>
                <h2 class="marquee">Content Failed to Load</h2>
                <h2 class="marquee">Content Failed to Load</h2>
                <h2 class="marquee">Content Failed to Load</h2>
                <h2 class="marquee">Content Failed to Load</h2>
            </div>
            <noscript>
                <h2>Warning: Some parts of this website might not display properly if you don't have JavaScript enabled on your browser</h2>
            </noscript>
        </div>
    </header>

    <div id="first_row">
        <div id="desc_col">
            <h2>{{data.bioSubtitle}}</h2>
            {{#each data.bioLines}}
            <p>{{this}}</p>
            {{/each}}
        </div>
        <img id="img_col" src="" alt="Profile picture">
        <div id="links_col">
            <h2>Links</h2>
            <div id="uls">
                <ul>
                    {{#each data.links.list1}}
                    <li><a href="{{this.link}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
                <ul>
                    {{#each data.links.list2}}
                    <li><a href="{{this.link}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

    <div id="second_row">
        <a class="button-link" href="projects.html">Projects</a>
        <a class="button-link" href="donate.html">Donate</a>
        <a class="button-link" href="#">More...</a>
    </div>

    <footer>
        <div class="github">
            <a class="button-link" id="footer_button_left" href="https://github.com/Davoleo/davoleo.github.io"><span class="mdi mdi-code-tags"></span></a>
        </div>
        <p>Copyright - &copy; - Davoleo - 2020-{{ getCurrentYear }}</p>
        <div>
            <a class="button-link" id="footer_button_right" href="http://discord.davoleo.net"><span class="mdi mdi-discord"></span></a>
        </div>
    </footer>
</div>

{{! The Modal }}
{{> more_links}}
{{> footer}}
</body>
</html>