---
filename: pc
title: PC Config

header: My Computer Config
components:
- type: CPU
  name: AMD Ryzen 5 2600
  price: €187.72
  url: https://www.amazon.it/gp/product/B07B41WS48/ref=ox_sc_act_title_1?smid=A3KWP5A9XVQC7A&psc=1
- type: Motherboard
  name: MSI - X470 CARBON Socket AM4 ATX
  price: €176.42
  url: https://www.amazon.it/dp/B07C41QNDD/?coliid=I31MQNXKWER5HI&colid=3CHEIO0V3J8AX&psc=0&ref_=lv_ov_lig_dp_it
- type: RAM
  name: Corsair Vengeance LPX 16GB (2 x 8GB) DDR4-3000MHz Memory
  price: €158.28
  url: https://www.amazon.it/dp/B0134EW7G8/?coliid=I2T9KSN5M7YD7&colid=3CHEIO0V3J8AX&psc=1&ref_=lv_ov_lig_dp_it
- type: SSD (Primary)
  name: Samsung MZ-V7E1T0 NVMe M.2 SSD 970 EVO 1 TB
  price: €154.00
  url: https://www.amazon.it/gp/product/B07CGJNLBB/ref=ppx_yo_dt_b_asin_title_o02_s00?ie=UTF8&psc=1
- type: SSD (Secondary)
  name: Samsung MZ-V7E250BW SSD 970 EVO 250 GB
  price: €187.72
  url: https://www.amazon.it/gp/product/B07B41WS48/ref=ox_sc_act_title_1?smid=A3KWP5A9XVQC7A&psc=1
- type: HDD
  name: Western Digital WD Blue 3TB 
  price: €86.37
  url: https://www.amazon.it/dp/B013HNYV42/?coliid=I3IJOO2GNN5Y4T&colid=3CHEIO0V3J8AX&psc=1&ref_=lv_ov_lig_dp_it
- type: GPU
  name: Sapphire Radeon RX 580 8GB
  price: €307.00
  url: https://www.amazon.it/gp/product/B073F1286D/ref=ox_sc_act_title_2?smid=A11IL2PNWYJU7H&psc=1
- type: Case
  name: Cooler Master MasterBox Lite 5
  price: €71.66
  url: https://www.amazon.it/dp/B073R5GC4R/?coliid=I2J5BUD11IZWBV&colid=3CHEIO0V3J8AX&psc=0&ref_=lv_ov_lig_dp_it
- type: Power Supply
  name: Seasonic 24147 550W
  price: €92.90
  url: https://www.amazon.it/gp/product/B073GY89G5/ref=ox_sc_act_title_1?smid=A11IL2PNWYJU7H&psc=1
- type: Main Monitor
  name: ASUS VG248QE 24'' FHD
  price: €212.76
  url: https://www.amazon.it/gp/product/B00B19T7QC/ref=ppx_yo_dt_b_asin_title_o00_s00?ie=UTF8&psc=1
- type: Secondary Monitor
  name: Acer KG1 KG241Qbmiix Monitor, TN Film Panel 23.6", 16:9, 1920 x 1080 Full HD
  price: €149.90
  url: https://www.amazon.it/dp/B071W5THV4/?coliid=I8ZG5KO7PNSGJ&colid=3CHEIO0V3J8AX&psc=1&ref_=lv_ov_lig_dp_it
- type: Mouse
  name: TeckNet Mouse
  price: €25.99
  url: https://www.amazon.it/dp/B00ZOT7JR4/?coliid=I13XE3JAE87U47&colid=3CHEIO0V3J8AX&psc=0&ref_=lv_ov_lig_dp_it
- type: Keyboard
  name: Corsair K55 RGB
  price: €68.82
  url: https://www.amazon.it/dp/B01N99EOAT/?coliid=IK952AFLKZIPG&colid=3CHEIO0V3J8AX&psc=1&ref_=lv_ov_lig_dp_it
  
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

{{> back_button}}

<h1 class="glow-anim">{{header}}</h1>

<table class="part-list">
    <thead>
        <tr class="shaded">
            <th>Component</th>
            <th>Link</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each components}}
            <tr class="shaded">
            <td class="part-list-type">{{this.type}}</td>
            <td class="part-list-item"><a href="{{this.url}}">{{this.name}}</a></td>
            <td class="part-list-price">
                <a href="{{this.url}}">{{this.price}}</a>
            </td>
            </tr>
        {{/each}}
        <tr class="shaded">
            <td colspan="2" class="part-list-total">Total</td>
            <td class="part-list-total-price">~€1200.00</td>
        </tr>
    </tbody>
</table>

{{> footer}}

</body>
</html>
