---
filename: pc
title: PC Config

data: '/data/pc.yaml'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>

{{> back_button}}

<h1 class="glow-anim">{{data.header}}</h1>

<table class="part-list">
    <thead>
        <tr class="shaded">
            <th>Component</th>
            <th>Link</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {{#each data.components}}
            <tr class="shaded">
            <td class="part-list-type">{{this.type}}</td>
            <td class="part-list-item"><a href="{{this.url}}">{{this.name}}</a></td>
            <td class="part-list-price">
                <a href="{{this.url}}">{{this.price}}</a>
            </td>
            </tr>
        {{/each}}
        <tr class="shaded">
            <td colspan="2" class="part-list-total">Total</td>
            <td class="part-list-total-price">~€1200.00</td>
        </tr>
    </tbody>
</table>

{{> footer}}

</body>
</html>
