---
data: '/data/projects.yaml'
---
<!DOCTYPE html>
<html lang="en">

{{> header}}

<body>
{{> back_button}}

<div class="container-fluid">
    <h1 class="glow-anim">{{title}}</h1>
    <div id="projects_container">
        {{#each projectCollection}}
        <div class="card">
            <img src="{{image}}" alt="{{this.title}} Logo" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">{{this.title}}</h2>
                <p class="card-text">{{this.summary}}</p>
                {{#if this.id}}
                <caption>Recent Activity</caption>
                <div class="card-feed-container" id="{{this.id}}_feed"></div>
                {{/if}}
                <div class="card-button-container">
                    <a href="{{this.links.0.url}}">{{this.links.0.name}}</a>
                    <a href="{{this.links.1.url}}">{{this.links.1.name}}</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="wip-section">
      <hr>
      <h2 class="glow">WIP Projects</h2>
      <p>These are a bunch of WIP projects that I'm currently working on together with my main projects</p>
      <p>They're listed separately because they might as well never be finished or they're just too small to be considered actual "Projects"</p>
      <div id="wip_projects">
        {{#each wip}}
        <a href="{{this.url}}" class="button-link">{{this.name}}</a>
        {{/each}}
      </div>
    </div>
</div>

<script src="js/main.js" type="text/javascript"></script>
<script src="js/projects.js" type="text/javascript"></script>
</body>
</html>